{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'row',
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>

    <div class="col-md-4">
      {{ content.left }}
    </div>

    <div class="col-md-8">
      {{ content.right }}
    </div>

  </div>
{% endif %}
