h1, h2, h3 { letter-spacing: -1px; margin-top: 0; }
p { margin-bottom: 15px; }

.navbar { margin-bottom: 0; background-color: #fff; }

.navbar-header { 
	float: left; 
	padding: 15px; 
	text-align: center; 
	width: 100%; 
}

.navbar-brand { 
	float:none; 
	font-size: 24px; 
	font-weight: 700; 
	letter-spacing: -1px; 
	line-height: 32px; 
}

#btn-search { margin-right: -30px; }
@media (min-width: 750px) {
	#btn-search { margin-right: -15px; }
	#btn-drawer { margin-left: -15px; }
}

#btn-search, #btn-drawer {
	cursor: pointer; 
	padding: 5px 15px; 
}

#drawer { 
	position: fixed; 
	left: -290px; 
	top: 0; 
	height: 100%; 
	width: 280px; 
	background-color: #fff; 
	z-index:9999; 
	transition: left 0.3s ease-in-out;
	box-shadow: 0 0 5px rgba(0,0,0,0.5); 
}

.dimmed {
  position: relative;
}

.dimmed:before {
  content: " ";
  z-index: 9998;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

#drawer>a {
	display: block;
	padding: 15px 30px; 
	background-color: #555; 
	color: #fff; 
	font-size: 24px; 
	text-align: center; 
	letter-spacing: -1px; 
	font-weight: 700;
	text-decoration: none;
}

#drawer .nav>li>a {
	border-left: thick solid transparent;  
	padding: 15px 30px; 
	color: #000 !important; 
}
#drawer .nav>li.active>a {
	border-left-color: #777; 
}


#search-form {
	position: absolute; 
	left: 0; 
	top: 60px; 
	width: 100%; 
	padding: 30px 15px; 
	background-color: rgba(255, 255, 255, 1); 
	z-index: 0; 
	transition: top 0.3s ease-in-out;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2); 
}
@media (min-width: 750px) {
	#search-form { 
		top: 0px;
	}
}

#search-form.show{
	top: 115px; 
}

#navigation { 
	display: none; 
	text-transform: uppercase; 
	font-weight: 600; 
	border: none; 
}
#navigation .dropdown-menu {
	text-transform: none; 
}

@media (min-width: 750px) {
	#navigation { display: block; }
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar {
  text-align: center;
}

#navigation .nav .open > a, 
#navigation .nav .open > a:hover, 
#navigation .nav .open > a:focus {
	background-color: transparent; 
	border-bottom-color: #777; 
}

#navigation .nav > li > a {
	border-bottom: medium solid transparent; 
}

#navigation .nav li.active a { 
	border-bottom-color: #ccc; 
}

#navigation .nav > li > a:hover, 
#navigation .nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: #777; 
}

.divider { 
	height: 1px; 
	background-color: #eee; 
}

.fa-border { border-color: transparent; }

.jumbotron {
	/*background-image: url(../images/heros/chicago.jpg); */
	background-size: cover; 
	color: #fff; 
}

.jumbotron { background-image: url(../img/image_21x9.svg); }

.jumbotron h1, .jumbotron p { 
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	text-align: center;  
}


.footer {
	padding: 30px; 
}

.footer,
.footer a { 
	color: #eee; 
	text-decoration: none; 
}	
.footer a:hover,
.footer a:focus {
	color: #777; 
}
.footer h3 { 
	margin-top: 5px; 
}

#page-footer {
	background-color: #555; 
}
#site-footer {
	background-color: #333; 
}

.footer .nav>li>a:hover {
	background-color: transparent;
}

.section { 
	margin-bottom: 30px; 
}


.section-header { 
	text-transform: uppercase; 
	font-weight: 500; 
	border-bottom: thin solid #eee; 
	padding-bottom: 5px; 
	letter-spacing: 1px; 
}

.card { margin-bottom: 30px; }

p.category { 
	color: #777; 
	font-size: 14px; 
	font-weight: 500; 
	text-transform: uppercase; 
}


.panel-dark { background-color: #333; display: inline-block; }
.panel-dark .panel-body { padding: 15px 30px 30px; }

.training { 
	margin-bottom: 30px; 
}