/* Setup */
@import "variables";

html { height: 100%; }
body { 
	background-color: #333;   
}

h1, h2, h3 { letter-spacing: -1px; margin-top: 0; } 
p { margin-bottom: 15px; }
 

.navbar { 
	margin-bottom: 0; 
	background-color: transparent; 
} 
.navbar a { 
	color: #fff; 
}

.navbar-header { 
	float: left; 
	padding: 15px; 
	text-align: center; 
	width: 100%; 
}

#block-maximus-branding {
	display: inline-block; // Drupal only
	margin-left: 0; 
}
@media (min-width: $screen-sm) {
	#block-maximus-branding {
		margin-left: 30px;
	}
} 

.navbar-brand { 
	float:none; 
	font-size: 24px; 
	font-weight: 700; 
	letter-spacing: -1px; 
	line-height: 32px; 
}

#btn-search { margin-right: -30px; }
@media (min-width: $screen-sm) {
	#btn-search { margin-right: -15px; }
	/*#btn-drawer { display: none; } */
}

#btn-search, #btn-drawer {
	cursor: pointer; 
	padding: 5px 15px; 
}

#block-maximus-account-menu {
	border-top: thin solid #eee; 
}
#drawer { 
	position: fixed; 
	left: -290px;  
	top: 0; 
	height: 100%; 
	width: 280px; 
	background-color: #fff; 
	z-index:9999; 
	transition: left 0.3s ease-in-out;
	box-shadow: 0 0 5px rgba(0,0,0,0.5); 
}

.dimmed {
  position: relative;
}

.dimmed:before {
  content: " ";
  z-index: 999;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}

.dark {
  position: relative;
}

.dark:before {
  content: " ";
  z-index: 999;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.95);
}
  

#block-drawer-branding a {
	display: block;
	padding: 15px 30px; 
	background-color: #555; 
	color: #fff !important; 
	font-size: 24px; 
	letter-spacing: -1px; 
	font-weight: 700;
	text-decoration: none;
}

#drawer .nav>li>a {
	border-left: thick solid transparent;  
	padding: 15px 30px; 
	color: #000 !important; 
}
#drawer .nav>li>a.is-active {
	border-left-color: #777; 
}

#search {
	position: absolute;
	width: 100%; 
	top: -200px; 
	z-index: 8888;
	padding-top: 30px; 
	padding-bottom: 30px; 
	background-color: rgba(0, 0, 0, 0.95);
	transition: top 0.3s ease-in-out;    
}

#navigation { 
	display: none; 
	border: none; 
}
#navigation .dropdown-menu {
	text-transform: none; 
}

@media (min-width: $screen-sm) {
	#navigation { display: block; }
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar {
  text-align: center;
}

#navigation .nav .open > a, 
#navigation .nav .open > a:hover, 
#navigation .nav .open > a:focus {
	background-color: transparent; 
	border-bottom-color: #eee; 
}

#navigation .nav > li > a {
	text-transform: uppercase; 
	font-weight: 500; 
	border-bottom: medium solid transparent; 
}

#navigation .nav li a.is-active {  
	border-bottom-color: #eee; 
}

#navigation .nav > li > a:hover, 
#navigation .nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: #eee; 
}

.divider { 
	height: 1px; 
	background-color: #eee; 
}

.fa-border { border-color: transparent; }


.header { 
	background-color: #555; 
	background-image: url(../img/banner.jpg); 
	background-size: cover; 
	color: #fff; 
}
.navbar-static-top, 
.navbar-nav>li>a { 
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.jumbotron {
	background: transparent;
	margin-bottom: 0;  
}
.jumbotron h1, .jumbotron p { 
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	text-align: center;  
}
.jumbotron p {
	margin-bottom: 0; 
}


.footer {
	padding: 30px; 
}

.footer,
.footer a { 
	color: #eee; 
	text-decoration: none; 
}	
.footer a:hover,
.footer a:focus {
	color: #777; 
}
.footer h3 { 
	margin-top: 5px; 
}

#page-footer {
	background-color: #555; 
}
#site-footer {
	background-color: #333; 
}

.footer .nav>li>a:hover {
	background-color: transparent;
}

main { 
	padding-top: 48px; 
	padding-bottom: 48px;
	background-color: #fff;  
}


.section-header { 
	text-transform: uppercase;
	font-weight: 500; 
	margin-top: 15px; 
	border-bottom: thin solid #eee; 
	padding-bottom: 5px; 
	letter-spacing: -1px; 
}

.card { margin-bottom: 30px; }

p.category { 
	color: #777; 
	font-size: 14px; 
	font-weight: 500; 
	text-transform: uppercase; 
}


.panel-dark { background-color: #333; display: inline-block; }
.panel-dark .panel-body { padding: 15px 30px 30px; }
.training-details { 
	background-color: #f8f8f8; 
}
.registration-form { 
	background-color: #f8f8f8;
}

.spacer { margin-bottom: 15px; }

.views-row { margin-bottom: 30px; }

article { 
	margin-bottom: 30px; 
}

label,  
dt { 
	font-weight: 500;
	//color: #777;
}

body.maintenance-page { height: 100%; margin: 0; padding: 0; width: 100%; color: #9e9e9e; display: table; }
body.maintenance-page .wrapper { text-align: center; display: table-cell; vertical-align: middle; }
body.maintenance-page .content { text-align: center; display: inline-block; }
body.maintenance-page .smiley { font-size: 5em; line-height: 1; }
body.maintenance-page h1 { font-size: 4em; font-weight: 400; line-height: 1; }
body.maintenance-page p { font-weight: 500; }

#search-block-form #edit-actions {
	display: none; 
}

h4.person-title { 
	margin-bottom: 0; 
}