/* Setup */
@import "variables";

html, body { height: 100%; }
a, a:hover, a:focus { color: $gray-darker; }
h1, h2, h3 { margin-top: 0; } 
p { margin-bottom: 15px; }

.navbar { 
	margin-bottom: 0; 
	background-color: transparent; 
} 
.topbar { 
	z-index: 2; 
}
.navbar-static-top a,
.navbar .nav>li>a { 
	//color: #fff;
	// text-shadow: 1px 1px 0 rgba(0,0,0,.2);  
}

// .navbar-header { 
// 	float: left; 
// 	padding: 15px; 
// 	text-align: center; 
// 	width: 100%; 
// }

// #block-maximus-branding {
// 	display: inline-block; // Drupal only
// 	margin-left: 0; 
// }
// @media (min-width: $screen-sm) {
// 	#block-maximus-branding {
// 		margin-left: 30px;
// 	}
// } 

// .navbar-brand { 
// 	float:none; 
// 	font-size: 24px; 
// 	font-weight: 700; 
// 	line-height: 32px; 
// }
.navbar-header img { 
	height: 50px; 
}

#navigation .nav .open > a, 
#navigation .nav .open > a:hover, 
#navigation .nav .open > a:focus {
	background-color: transparent; 
	border-bottom-color: #fff; 
}

#navigation .nav > li > a {
	text-transform: uppercase; 
	font-weight: 500; 
	border-bottom: medium solid transparent; 
}

#navigation .nav li a.is-active {  
	border-bottom-color: #fff; 
}

#navigation .nav > li > a:hover, 
#navigation .nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: #fff; 
}

.divider { 
	height: 1px; 
	background-color: #eee; 
}

.fa-border { border-color: transparent; }

.header { 
	margin-top: 15px; 
}

.banner { 
	// background-image: url(../img/banner.jpg); 
	background-size: cover;
}

.jumbotron {
	background-color: transparent; 
	margin-bottom: 0;  
}
// @media (min-width: $screen-sm) {
// 	.jumbotron {
// 		padding-top: 10em;
// 		padding-bottom: 10em;
// 	}
// }

.jumbotron h1, .jumbotron p {
	color: #fff;  
	// text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	text-align: center;  
}


.footer {
	// padding-top: 30px;
	// padding-bottom: 30px;
	// background-color: #036;  
	margin-bottom: 15px; 
}
 
.footer,
.footer a { 
	// color: #eee; 
	text-decoration: none; 
}	
.footer a:hover,
.footer a:focus {
	// color: #777; 
}
.footer h3 { 
	margin-top: 5px; 
}
#page-footer ul { 
	list-style: none; margin: 0; padding: 0; 
}
#page-footer ul a { 
	display: inline-block; padding: 5px 0; font-weight: 500; 
}

#site-footer { 
	padding-top: 15px; 
}
#site-footer .container {
	border-top: thin solid #ccc; 
}
#site-footer ul {
	list-style: none; margin: 0; padding: 0; 
}
@media (max-width: $screen-sm) {
	#page-footer ul, 
	#site-footer ul {
		margin-bottom: 15px !important; 
	}
}
#site-footer li { 
	display: inline;
}
#site-footer li:before {
	content: " | ";
	display: inline-block; margin: 5px; 
}
#site-footer li:first-child:before {
	content: none; 
}

@media (max-width: $screen-sm) {
	.footer p.text-right { 
		text-align: left !important; 
	}
}


.footer .nav>li>a:hover {
	background-color: transparent;
}

main { 
	// padding-top: 48px; 
	// padding-bottom: 48px;
	// background-color: #fff;  
}


.section-header { 
	text-transform: uppercase;
	font-weight: 500; 
	margin-top: 30px; 
	border-bottom: thin solid #eee; 
	padding-bottom: 5px; 
}
.section-header:first-child {
	margin-top: 0; 
}

aside .section-header:first-child {
	margin-top: 0; 
}

.card { margin-bottom: 30px; }

p.category { 
	color: #777; 
	font-size: 14px; 
	font-weight: 500; 
	text-transform: uppercase; 
}


.panel-dark { background-color: #024; }
.panel-dark .panel-body { padding: 15px 30px 30px; }
.training-details { 
	background-color: #f8f8f8; 
}
.registration-form {
	margin-top: 30px; 
	background-color: #f8f8f8;
}

.spacer { margin-bottom: 15px; }
.gapper { margin-bottom: 30px; }

.mb30 { margin-bottom: 30px !important; }
.mb15 { margin-bottom: 15px !important; }
.mt30 { margin-top: 30px !important; }
.mt15 { margin-top: 15px !important; }

.views-row { margin-bottom: 15px; }

article { 
	margin-bottom: 30px; 
}

label,  
dt { 
	font-weight: 500;
	//color: #777;
}

body.maintenance-page { height: 100%; margin: 0; padding: 0; width: 100%; color: #9e9e9e; display: table; }
body.maintenance-page .wrapper { text-align: center; display: table-cell; vertical-align: middle; }
body.maintenance-page .content { text-align: center; display: inline-block; }
body.maintenance-page .smiley { font-size: 5em; line-height: 1; }
body.maintenance-page h1 { font-size: 4em; font-weight: 400; line-height: 1; }
body.maintenance-page p { font-weight: 500; }

#search-block-form .form-actions {
	display: none; 
}

.person-title { 
	margin-bottom: 0; 
}

.views-element-container, 
#block-maximus-content header {
	margin-bottom: 30px; 
}
.jumbotron .views-element-container {
	margin-bottom: 0; 
}

.nav > li > a:hover, 
.nav > li > a:focus {
	background-color: transparent !important;
}

.search-results li {
	margin-bottom: 30px; 
}
.sr-title { 
	margin-bottom: 0; 
}


.breadcrumb {
	margin-top: 15px; 
	padding-left: 0; 
	background-color: transparent;
}


.lead { color: $red; }

.sidebar { 
	list-style: none; margin: 0; padding: 0; 
}
.sidebar a, .sidebar a:focus, .sidebar a:focus { 
	display: block; padding: 5px; text-decoration: none; 
	border-left: thick solid transparent;
	border-bottom: thin solid $gray-lighter; 
}
.sidebar a:hover { 
	background-color: $gray-lighter; 
}
.sidebar a.is-active { border-left-color: $gray; background-color: $gray-lighter; }
.sidebar a.is-active:hover { background-color: $gray-light; }
